legacy-peer-deps=true
public-hoist-pattern[]=*bindings*
public-hoist-pattern[]=*file-uri-to-path*
public-hoist-pattern[]=*better-sqlite3*
public-hoist-pattern[]=*sharp*
public-hoist-pattern[]=*react-native-worklets*
public-hoist-pattern[]=*react-native-screens*
virtual-store-dir=C:\p
