.efficiency-bar {
  height: 100%;
  transition: all 0.5s;
  width: var(--efficiency-width, 0%);
}

.gap-bar {
  height: 100%;
  border-radius: 9999px;
  transition: all 0.7s;
  width: var(--gap-width, 0%);
}
