fastapi==0.111.0
numpy==2.4.6
opencv-python-headless==4.13.0.92
uvicorn==0.29.0
pydantic==2.7.1
birefnet
transformers
torch --index-url https://download.pytorch.org/whl/cpu
torchvision
Pillow==10.3.0
python-multipart==0.0.9
pyiqa>=0.1.12
realesrgan
basicsr
mobile-sam
